@media (max-width:800px) {
    .pc {display: none !important ;} 


    .swiper-tbox {
    top: 15%; 
    width: 80%;
}





}



@media (min-width:800px) {
    .mob {display: none !important;}
}